{
    "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "AzureWebJobsDashboard": "UseDevelopmentStorage=true",
    "CosmosDbApiKey": "",
    "CosmosDbUri": "",
    "CosmosDbConnection": ""
  }
}